{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
              <img src="https://sneakerhead.ru/upload/resize_cache/iblock/41b/296_296_2/z19w0wzpzc32w30auu88wu3nobyrn7r2.jpg" />
          <div class="card-body">
              <p class="card-text" >Кроссовки Nike Air Max 90 GTX</p>
                <b>10 799 ₽</b>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
              <img src="https://sneakerhead.ru/upload/resize_cache/iblock/543/296_296_2/p38sx3blq9yvuf3khyakmyp5hrplodz2.jpg" />
            <div class="card-body">
              <p class="card-text">Кроссовки New Balance 574</p>
              <b>17 990 ₽</b>

            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://sneakerhead.ru/upload/resize_cache/iblock/bff/296_296_2/rky6wq2gzfbemwb2hmz4fcdw6x6q2a4j.jpg" />
              <div class="card-body">
              <p class="card-text">Кроссовки Jordan 1 Retro Low OG</p>
              <b>31 990 ₽</b>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}